html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#section2{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#mainb{
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#header{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 25px;

}

#jashan{
  float: right;
  text-align: center;
  line-height: 5px;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif;
}

#section3{
  height: 100%;
  width: 100%;

}

#header2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

.form{
  margin-left: 550px;
  margin-right: 550px;
}

.form-control{
  padding: 25px 12px;
}

a: hover{
  text-decoration: none;
}
